[tool.pyflow]
name = "laskea"
py_version = "3.8"
# [[[fill version_sync()]]]
version = "2022.6.8"
# [[[end]]] (checksum: 6a185c2f32e4e06d17ad7cd00b110c73)
authors = ["Stefan Hagen <stefan@hagen.link>"]

[tool.pyflow.scripts]

[tool.pyflow.dependencies]
atlassian-python-api = "^3.25.0"
cogapp = "^3.3.0"
jmespath = "^0.10.0"
pydantic = "^1.9.0"
scooby = "^0.5.12"
typer = "^0.4.0"
