[tool.pyflow]
name = "laskea"
py_version = "3.8"
# [[[fill version_sync()]]]
version = "2022.3.3"
# [[[end]]] (checksum: df4ad7fe56aaf1b7b2865a7cf72b403e)
authors = ["Stefan Hagen <stefan@hagen.link>"]

[tool.pyflow.scripts]

[tool.pyflow.dependencies]
antlr4-python3-runtime = "^4.9.3"
atlassian-python-api = "^3.20.1"
cogapp = "^3.3.0"
jmespath = "^0.10.0"
pydantic = "^1.9.0"
typer = "^0.4.0"

[tool.pyflow.dev-dependencies]
black = "^22.1.0"
coverage = "^6.3.2"
flake8 = "^4.0.1"
flake8-quotes = "^3.3.1"
hypothesis = "^6.38.0"
isort = "^5.10.1"
mkautodoc = "^0.1.0"
mkdocstrings = "^0.18.0"
mypy = "^0.931"
pycodestyle = "^2.8.0"
pyflakes = "^2.4.0"
pygments = "^2.11.2"
pytest = "^7.0.1"
pytest-asyncio = "^0.18.1"
pytest-cov = "^3.0.0"
pytest-mock = "^3.7.0"
pytest-sugar = "^0.9.4"
pytest-toolbox = "^0.4"
types-jmespath = "^0.10.2"
