[tool.pyflow]
name = "laskea"
py_version = "3.8"
# [[[fill version_sync()]]]
version = "2022.3.22"
# [[[end]]] (checksum: 3c296e11124931a4381cc1622776f4ab)
authors = ["Stefan Hagen <stefan@hagen.link>"]

[tool.pyflow.scripts]

[tool.pyflow.dependencies]
atlassian-python-api = "^3.20.1"
cogapp = "^3.3.0"
jmespath = "^0.10.0"
pydantic = "^1.9.0"
scooby = "^0.5.12"
typer = "^0.4.0"
